@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    overflow: hidden;
}

header{
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 70px;
    
}

nav{
    width: 50%;
    right: 0;
    display: flex;
    justify-content: space-between;
    font-size: large;
}

.ul{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    
}

.img_icon_menu{
    margin: 24px;
}

.img_icon_menu:hover{
    cursor: pointer;
}

.li:hover{
    cursor: pointer;
    font-weight: 600;
}

.li.show{
    display: flex;

}

.btn_open_login{
    height: 40px;
    margin: 15px;
    border: 2px solid #F5F5F5;
    border-radius: 5px;
    color: #F5F5F5;
    background-color: #002B5B;
    padding: 5px;
    font-size: large;
}

.btn_open_login:hover{
    cursor: pointer;
    color: #002B5B;
    background-color: #F5F5F5;
    border: 2px solid #002B5B;
}

/* Existing account login */
.overlay_login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.div_btn_close_login{
    display: flex;
    justify-content: end;
}

.btn_close_login {
    display: flex;
    justify-content: end;
    height: 40px;
    border: 2px solid #F5F5F5;
    border-radius: 5px; 
    color: #F5F5F5;
    background-color: #002B5B;
    padding: 5px;
    font-size: large;
    border-radius: 0px 15px 0px 15px;
    color: white;
    width: 40px;
}

.btn_close_login:hover{
    background-color: red;
    cursor: pointer;
}
  
.login_modal {
    background: white;
    border-radius: 12px;
    width: 400px;
    height: 460px;
    padding: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}
  
input {
    padding: 10px;
    font-size: 1rem;
}

.div_password {
    position: relative;
    width: 400px; 
}
  
.div_password input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; 
    font-size: 16px;
    box-sizing: border-box;
}

.img_eyes{
    z-index: 1000;
}
  
.div_password .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}
  
.div_password .toggle_password img {
    width: 20px;
    height: 20px;
}
  
.div_password button {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}
  
.div_password img {
    width: 20px; 
    height: auto;
}

.checkbox{
    cursor: pointer;
}

.btn_connection{
    height: 40px;
    border: 2px solid #F5F5F5;
    border-radius: 5px;
    color: #F5F5F5;
    background-color: #002B5B;
    padding: 5px;
    font-size: large;
}

.btn_connection:hover{
    cursor: pointer;
    color: #002B5B;
    background-color: #F5F5F5;
    border: 2px solid #002B5B;
}

.create_account{
    font-size: small;
}

.a_create_account{
    border: none;
    cursor: pointer;
    background: #FFFFFF;
    text-decoration: underline;
}

.a_create_account:hover{
    color: #002B5B;
}

.regexPassword{
    border: 1px solid black;
    font-size: small;
}

/* Create new account */
.overlay_create_account{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.div_btn_close_login_create_account{
    display: flex;
    justify-content: end;
}

.btn_close_login_create_account {
    display: flex;
    justify-content: end;
    height: 40px;
    border: 2px solid #F5F5F5;
    border-radius: 5px; 
    color: #F5F5F5;
    background-color: #002B5B;
    padding: 5px;
    font-size: large;
    border-radius: 0px 15px 0px 15px;
    color: white;
    width: 40px;
}

.btn_close_login_create_account:hover{
    background-color: red;
    cursor: pointer;
}

.account_modal {
    background: white;
    border-radius: 12px;
    width: 400px;
    height: 480px;
    padding: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: stretch;
    gap: 1rem;
}

.div_password_create_account
.toggle_password_create_account {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.div_password_create_account {
    position: relative;
    width: 400px; 
}

.div_password_create_account .toggle_password_create_account img {
    width: 20px;
    height: 20px;
}
  
.div_password_create_account button {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}
.div_password_create_account input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; 
    font-size: 16px;
    box-sizing: border-box; /* la valeur de width inclut les padding, margin...*/
}

.div_password_create_account img {
    width: 20px; 
    height: auto;
}

.div_password_confirmation
.toggle_password_confirmation {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.div_password_confirmation {
    position: relative;
    width: 400px; 
}

.div_password_confirmation .toggle_password_confirmation img {
    width: 20px;
    height: 20px;
}
  
.div_password_confirmation button {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}
.div_password_confirmation input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; 
    font-size: 16px;
    box-sizing: border-box; /* la valeur de width inclut les padding, margin...*/
}

.div_password_confirmation img {
    width: 20px; 
    height: auto;
}

.btn_create_valid_account{
    height: 40px;
    border: 2px solid #F5F5F5;
    border-radius: 5px;
    color: #F5F5F5;
    background-color: #002B5B;
    padding: 5px;
    font-size: large;
    width: 100%;
}

.btn_create_valid_account:hover{
    cursor: pointer;
    color: #002B5B;
    background-color: #F5F5F5;
    border: 2px solid #002B5B;
}


@media screen and (min-width: 1000px) { 
    .img_icon_menu{
        display: none;
    }
}

@media screen and (max-width: 1000px) { 
    .ul{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: baseline;
    }
    
    .li{
        display: none;
    }

    nav{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .button_connection{
        order: 1;
    }
}
